# --- Python ---
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/

# --- IDEs ---
.vscode/
.idea/
*.swp

# --- Gmsh & Maillage ---
# On ignore les fichiers de maillage volumineux
*.msh
*.pos
*.opt
# Sauf si vous voulez garder un maillage de référence précis (optionnel)
# !output/meshes/reference.msh

# --- Sorties du Projet (Simulation) ---
# Dossiers de résultats décrits dans votre README
output/
animations_sauvegardes/

# Fichiers de données temporaires ou volumineux
*.npy
*.npz
*.csv

# --- Système ---
.DS_Store
Thumbs.db
